.container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    height: 80vh;
    padding-bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    
    
}

.container > h1 {
    color: blueviolet;
}

.image-girl {
    width: 80%;
    max-height: 600px;
    
}

.text-container {
    width: 100%%;
    
}

.text-container> h3 {
    font-size: 1.5vw;
    margin: 30px;
}

.text-container>p {
    margin: 30px 0;
}

.text-container > a {
    color: white;;
    padding: 5px 25px;
    border-radius: 10px;
    background-color: #2F89AE;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          
}

.text-container>a:hover {
   
            opacity: 0.8;
            color: rgba(70, 70, 70, 0.651);
            text-decoration: none;
        
}

.text-container>a:active {
    opacity: 1;
}

@media (max-width: 840px) {
    .text-container>h3 {
        font-size: 5vw;
    }

 

    .container {
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 100px;
        height: 70vh;
    }
}