

.carousel-content {
    width: 35vw;
    
}

.carousel-caption {
    position: initial;
    right: 20px;
}

.slide1 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 65vh;

}

.carousel-indicators {
    display: none;
}

.carousel-control-next {
    display: none;
}

.carousel-control-prev {
    display: none;
}

.slide{
    color: #1f1e1d;
}



.slide > button{
    padding: 5px 25px;
    border-radius: 10px;
    background-color: aliceblue;
    border: 0.5px solid #1f1e1d;
    margin: 15px 0
}

.slide > h3 {
    font-size: 1.5vw;
}

.slide > button:hover{
    opacity: 0.8;
}

.slide>button:active {
    opacity: 1;
}




@media (max-width: 860px) {

    .carousel-content {
        width: 100vw;
        padding-top: 50px;
       height: 35vh;
    }

   .slide1 {
    flex-direction: column;
    margin-top: 150px;
    height: 40vh;
   }

   .slide {
    position: relative;
    top: -40px;
   }

    div > img {
        padding-top: 0;
    }

    
    
    .slide > h3 {
       font-size: 3.5vw; 
       padding-top: 50px;
    }
}



